<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MidnightLizard</title>
    <base href="/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>
<body class="mat-typography">
    @RenderBody()

    @RenderSection("scripts", required: false)

    <div style="position: fixed; right:20px; bottom:0px; width:200px; text-align:right;">
        @System.Runtime.InteropServices.RuntimeInformation.OSDescription
        @Startup._env.EnvironmentName
        @Startup._env.IsDevelopment()
    </div>
</body>
</html>
